<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="icon" href="./assets/img/favicon.ico" type="image/gif" sizes="16x16")
  body
    div(id="app") Welcome to frontend-workflow 👋
    script(src="./js/index.js")
